.container {
  padding: 10px;
  width: 100%;
  margin-left: 30px;
}

.title {
  color: var(--third);
  font-size: 3rem;
  margin: 0 0 40px;
  border-bottom: 1px solid var(--third);
}

.content {
  margin: 50px 0;
  display: flex;
}

.img {
  width: 300px;
  margin-right: 30px;
}

.desc {
  text-align: justify;
}

.button {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  background: var(--third);
  color: var(--font-color);
  border-radius: 5px;
  padding: 5px;
  font-size: 1rem;
  font-weight: 200;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgb(246, 246, 246);
  transition: 0.1s ease all;
}

.button:active {
  position: relative;
  top: 1.5px;
}

.button:hover {
  background: var(--third-light);
}

@media screen and (max-width: 770px) {
  .container {
    margin-left: 0px;
    padding: 0;
  }

  .content{
    flex-direction: column;
  }

  .img{
    margin: auto;
  }
}
